.cl
{
    background-color: rgb(237, 242, 242);
}
.main{
    display:flex;
    
}
.king{
    margin-left: 15%;
    margin-top: 2%;
    color: white;
    word-spacing: 40px;
    border-radius: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:link,a:visited{
    text-decoration: none;
    color: white;
}
.ling{
    background-color: lightblue;
     padding: 1px  30px;
     border-radius: 4px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mdu{
    font-size: larger;
    padding-left: 340px;
    margin-top: -40px;
    color: azure;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;

}
table,th,td,tr{
    border: white solid;
    text-align: center;
    padding: ;
}
.sk{
    font-size: medium;
    color: azure;
    padding-left:-100px;
    width: 100%;
 padding-top: 15%;  
   
}
.op{
    display: flex;
    width: 50%;
}
.si{
    font-size: medium;
    color: azure;
    padding-top: 10%;
    padding-right: 10%;
    /* padding-bottom: 5%; */
}
a:hover{
    color:brown;
    font-size: 20px;
} 
button:hover{
    color:brown;
    background-color: whitesmoke;
}
img{
    animation: shake 500ms;
    animation-iteration-count: infinite;
}
    @keyframes shake {
        5% { transform: translate(1px, 1px) rotate(0deg); }     
    }

